In [2]:
import pandas as pd
import numpy as np

In [3]:
# inventory
raw_inventory_china = pd.read_csv("raw_inventory_china.csv")

# inbound
raw_inbound_china = pd.read_csv("raw_inbound_china.csv")

# outbound
raw_outbound_china = pd.read_csv("raw_outbound_china.csv")

In [13]:
raw_inbound_china.shape

(13369, 5)

In [5]:
raw_inventory_china.head()

,BALANCE_AS_OF_DATE,PLANT_NAME,MATERIAL_NAME,BATCH_NUMBER,STOCK_SELL_VALUE,CURRENCY,DATE,Quantity_KT_Inventory
0,2023-12-31,CHINA-WAREHOUSE,MAT-0045,SCRAP,211,CNY,2023-12-31,0.000164
1,2023-12-31,CHINA-WAREHOUSE,MAT-0193,6024,87666,CNY,2023-12-31,0.000000
2,2023-12-31,CHINA-WAREHOUSE,MAT-0193,5755,414419,CNY,2023-12-31,0.070720
3,2023-12-31,CHINA-WAREHOUSE,MAT-0193,3142,71726,CNY,2023-12-31,0.012240
4,2023-12-31,CHINA-WAREHOUSE,MAT-0193,6734,15939,CNY,2023-12-31,0.002720

In [9]:
raw_outbound_china.shape

(18173, 7)

In [7]:
print("Inbound dates:", raw_inbound_china['INBOUND_DATE'].min(), "-", raw_inbound_china['INBOUND_DATE'].max())
print("Outbound dates:", raw_outbound_china['OUTBOUND_DATE'].min(), "-", raw_outbound_china['OUTBOUND_DATE'].max())
print("Inventory dates:", raw_inventory_china['BALANCE_AS_OF_DATE'].min(), "-", raw_inventory_china['BALANCE_AS_OF_DATE'].max())

Inbound dates: 2023-11-03 - 2024-12-24
Outbound dates: 2024-01-02 - 2024-12-31
Inventory dates: 2023-12-31 - 2024-12-31

In [15]:
raw_inbound_china.duplicated().sum()

9465

In [17]:
raw_inbound_china = raw_inbound_china.drop_duplicates()

In [19]:
raw_inbound_china

      INBOUND_DATE       PLANT_NAME MATERIAL_NAME        DATE  Quantity_KT_In
0       2024-07-16  CHINA-WAREHOUSE      MAT-0156  2024-07-16        0.024750
3       2024-07-16  CHINA-WAREHOUSE      MAT-0156  2024-07-16        0.006875
4       2024-07-16  CHINA-WAREHOUSE      MAT-0156  2024-07-16        0.017875
5       2024-01-11  CHINA-WAREHOUSE      MAT-0112  2024-01-11        0.023375
8       2024-01-11  CHINA-WAREHOUSE      MAT-0112  2024-01-11        0.006875
...            ...              ...           ...         ...             ...
13344   2024-12-22  CHINA-WAREHOUSE      MAT-0339  2024-12-22        0.025500
13345   2024-12-24  CHINA-WAREHOUSE      MAT-0265  2024-12-24        0.024750
13351   2024-12-24  CHINA-WAREHOUSE      MAT-0042  2024-12-24        0.024750
13355   2024-12-24  CHINA-WAREHOUSE      MAT-0232  2024-12-24        0.024750
13359   2024-12-24  CHINA-WAREHOUSE      MAT-0118  2024-12-24        0.024750

[3904 rows x 5 columns]